.introducao-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  height: 100vh;
}

.introducao-texto,
.introducao-imagem {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.introducao-imagem img,
.introducao-imagem svg {
  max-width: 100%;
  height: auto;
}

.habilidades-content {
  max-width: 800px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap);
}

.grid h2 {
  font-size: 3rem;
  position: relative;
  margin-bottom: 2rem;
}

.grid div {
  border: 1px solid var(--second-color);
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.grid div:hover {
  box-shadow: 0 0 5px 1px;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 500ms;
}

.formulario-contato {
  max-width: 800px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formulario-contato fieldset {
  border: 2px solid var(--first-color);
  border-radius: 20px;
  padding: 0 5rem 2rem;

  legend {
    font-size: 3rem;
  }
}

.form-group {
  margin-top: 2rem;
}

.form-group label {
  display: block;
  font-size: 2rem;
}

.form-group input,
.form-group textarea {
  margin-top: 3rem;
  border: 2px solid var(--first-color);
  border-radius: 20px;
  padding: 1.5rem 2rem;
  width: 90%;
  font-size: 2rem;
  color: var(--first-color);
}

.form-group button {
  border: 2px solid var(--first-color);
  border-radius: 20px;
  padding: 1.5rem 2rem;
  font-size: 2rem;
  color: var(--second-color);
  background-color: var(--first-color);
}

.form-group button:hover {
  transition: 500ms;
  color: var(--first-color);
  background-color: var(--second-color);
  box-shadow: 0 0 5px 1px;
  cursor: pointer;
}

footer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  left: 0;
  border-top: 0.1rem solid var(--first-color);
  width: 100%;
  z-index: 1;
  padding: 1rem;
}
